header{
	position: relative;
	margin: auto;
	width:175px;
	height: 35px;
	padding: 10px;
	font-size: 40px;
	color: yellow;
}
@keyframes gameAnimation{
	from{opacity: 0;}
	to{opacity: 1;}
	
}
body{
	background-color: #FA8072;
}
#Main{
	position: relative;
	margin: auto;
	border-style: dotted;
	width: 1000px;
	height: 750px;
}
#srt{
	position: relative;
	margin: auto;
	padding: 10px;
	padding-left: 150px;
}
#start{
	height: 50px;		
	width: 750px;
}
#cat{
	position: relative;
	margin: auto;
	padding: 10px;
	padding-top: 200px;
	padding-left: 200px;
	font-weight: bold
}
#AnsSection{
	position: relative;
	margin: auto;
	padding: 10px;
	padding-left: 200px;
	padding-top: 20px;
	animation-name: gameAnimation;
	animation-duration: 4s;
	animation-timing-function: ease;
}
#AnsSection > button{
	position: relative;
	padding-left: 10px;
	width: 200px;
	
	
}
#result, #useAns, #gameStatus{
	position: relative;
	margin: auto;
	padding: 10px;
	padding-left: 200px;
	padding-top: 50px;
	animation-name: gameAnimation;
	animation-duration: 4s;
	animation-timing-function: ease;
}
footer,#pts{
	position: relative;
	margin: auto;
	padding: 10px;
	padding-top: 25px;
}